<header>
	<h2>About</h2>
</header>
<p>
	The shopping list application allows to set up a list of elements which have to buy, ordered by categories.
</p>
<p>
	For the server part, the <a href="http://www.springsource.org/">Spring framework</a> is used (release 3.1) to define Web Services. For the web client, this is the <a href="http://www.angularjs.org/">AngularJS framework</a> (version 1.0) which is used to build the rich client.
</p>
<p>
	The project is hosted to GitHub under free license. Feel free to fork it or comment it.
</p>